# Domain
DOMAIN_NAME=login.42.fr

# MariaDB
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=wordpress
MYSQL_USER=your_db_user_here
MYSQL_PASSWORD=your_db_password_here

# WordPress
WP_ADMIN_USER=your_wp_admin_here
WP_ADMIN_PASSWORD=your_wp_admin_password_here
WP_ADMIN_EMAIL=admin@login.42.fr
WP_USER=your_wp_user_here
WP_USER_PASSWORD=your_wp_user_password_here
WP_USER_EMAIL=user@login.42.fr
