# Domain
DOMAIN_NAME=login.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=CHANGEME_DB_USER
MYSQL_PASSWORD=CHANGEME_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGEME_ROOT_PASSWORD

# WordPress Database connection
WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=CHANGEME_DB_USER
WORDPRESS_DB_PASSWORD=CHANGEME_DB_PASSWORD

# WordPress site settings
WP_TITLE=Inception
WP_ADMIN_USER=CHANGEME_ADMIN
WP_ADMIN_PASSWORD=CHANGEME_ADMIN_PASSWORD
WP_ADMIN_EMAIL=admin@example.com
WP_USER=CHANGEME_USER
WP_USER_EMAIL=user@example.com
WP_USER_PASSWORD=CHANGEME_USER_PASSWORD
